<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <% for(let u of usuarios) {%>
            <li>
                <a href="/usuarios/<%= u.id %>/edit"><%= u.id %> | <%= u.nome %> | <%= u.email %></a>
                <form action="/usuarios/<%= u.id %>/delete" method="post">
                    <input type="hidden" name="id" value="<%= u.id %>">
                    <button type="submit">remover</button>
                </form>
            </li>
        <% } %>
    </ul>
</body>
</html>